{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
  <h1>My Passion</h1>
  <hr>
  <div class="text-center">
    {% if profile.profile_picture %}
      <img src="{{ profile.profile_picture.url }}" class="img-thumbnail mb-3" width="150" alt="Profile Picture">
    {% endif %}
    <h2>{{ profile.display_name }}</h2>
    <p>{{ profile.bio }}</p>
  </div>

  <hr>

  {% for section in profile.sections.all %}
    <div class="mb5">
      <h2>{{ section.title }}</h2>
      <p>{{ section.content }}</p>
  {% endfor %}

  <h3>Additional Info</h3>
  <ul class="list-group">
    {% for field in profile.fields.all %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <strong>{{ field.key }}</strong>
        <span>{{ field.value }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
